.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:50px;
}
.btn{
    display: flex;
    position: absolute;
    bottom: 50px;
}

.prev {
   
    left: 600px;
}

.next {
   
    left: 700px;
}
.header{
    background-color:black;
    
    color:white;
}
